main {
    margin: 30px;
    padding: 30px;
    border: 1px dotted #555;
}
h1 {
    text-align: center;
}
a, a:visited {
    text-decoration: none;
    color: #555;
}
footer {
    text-align: center;
    margin-top: 20px;
}
